.jumbotron {
    background: linear-gradient(to right, #6a11cb, #2575fc);
    color: white;
    padding: 4rem 2rem;
    border-radius: 10px;
  }
  
  .nav-pills .nav-link {
    margin: 0 5px;
    border-radius: 5px;
  }
  :host {
    display: block; /* Make sure your host element is a block element */
    padding-top: 70px; /* Adjust this value according to your navbar height */
  }
  
  